<div class="wrapper"> PowerComponent

  <header>
    <section class="left">
      <span class="title">Adjust Incoming Power Level: </span>
      <input type="number" max="100" min="0" [(ngModel)]="power">
    </section>
    <img src="../../assets/goku.png" alt="">
  </header>

  <section class="body">
    <app-human [power]="power" class='card'></app-human>
    <app-saiyan [power]="power" class='card'></app-saiyan>
    <app-super-saiyon [power]="power" class='card'></app-super-saiyon>
    <app-super-saiyon-two [power]="power" class='card'></app-super-saiyon-two>
    <app-super-saiyon-three [power]="power" class='card'></app-super-saiyon-three>
    <app-super-saiyon-four [power]="power" class='card'></app-super-saiyon-four>
  </section>
  
</div>
